body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(173, 182, 230);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(255, 238, 0);
    color: rgb(231, 8, 8);
  }